.card{
    /* background-color: #ecf0f1; */
    width: 375px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.temp{
    font-size: 30px;
    font-weight: bold;
}

.temp_container{
    display: flex;
    justify-content:space-evenly;
}

.icon{
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}