.card{
    width: 450px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.temp{
    font-size: 36px;
    font-weight: bold;
}

.temp_container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: -2rem;

}

.icon{
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.5rem;
}

.icon_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}

.min_max{
    font-size: 1.2rem;

}