.card{
    background-color: #ecf0f1;
    width: 375px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.temp{
    font-size: 24px;
    font-weight: bold;
}

.temp_container{
    display: flex;
    justify-content:space-evenly;
}

.icon{
    width: 120px;
    object-fit: contain;
}