.App {
  text-align: center;
}

.input_text{
  width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  border:1px solid black;

}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: #3498db;
  border: none;
  padding: 0.5rem;
  border: 1px solid #3498db;
  border-radius: 5px;
  margin-left: 5px;
  color: #fff;
  cursor: pointer;

}